
/*  Found a good source explaining CSS Flex-Box ( A Complete Guide to Flex-Box/CSS-Tricks this is a very useful guide.) */

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-box-sizing:border-box;
}
html {
font-size:100%;
overflow-y:scroll;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:none;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col-md-9 {
/*font-family:Georgia, Helvetica, sans;*/
font-style:italic;
font-weight:700;
max-height:580px;
padding-right:0;
float: left;
}
.col-sm-3 {
padding-top:65px;
padding-right:10px;
padding-left: 5px;
}
#map {
display:block;
/*top:5px;*/
position:relative;
width:100%;
height:500px;
margin:0;
}
.location-search {
font-size:15px;
color:#151b8d;
}

#search {
border-width: 1px;
}

p {
/*font-family:Georgia, Helvetica, sans;*/
font-style:italic;
font-weight:700;
padding-top:20px;
color:#082676;
font-size:18px;
}
ul {
list-style-type:none;
display:flex;
flex-direction: column;
padding-top:10px;
padding-left:5px;
color:#082676;
}
.btn {

font-size:14px;
text-decoration:none;
margin:5px;
}
/*.btn:hover {
background:#3cb0fd;
background-image:linear-gradient(tobottom,#3ff000,#3442d9);
text-decoration:none;
}*/
.wikipedia-container {
position:absolute;
float:left;
top:110px;
width:360px;
padding-left:20px;
background-color:#FFF;
color:#082676;
font-weight:700;
opacity:0.8;
z-index:11;
margin:0;
}
#wikipedia-header {
    font-weight: bold;
}
#site {
color:#151b8d;
background-color: white;
}
#submit-btn {
background-color:#FFF;
color:#082676;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

/* Smartphones (portrait and landscape) ----------- */
p {
    font-size: 90%;
    
}
#map {
    max-width: 100%;
    max-height: 390px;
    padding-top: 2px;
}
.col-sm-3 {
    padding-top: 10px;
}
ul {
    flex-flow: row wrap;
    flex-shrink: 4;
    padding-top: 5px;
}
.wikipedia-container {
    max-width: 70%;
    max-height: 50px;
}
.location-search {
    font-size: 90%;
}
}
@media only screen 
and (max-device-width : 321px) {

/* Smartphones (landscape) ----------- */
p {
    font-size: 90%
}
#map {
    max-width: 90%;
    max-height: 275px;
}
.col-sm-3 {
    padding-top: 10px;
}
ul {
    flex-flow: row wrap;
    flex-shrink: 4;
}
.wikipedia-container {
    font-size: 90%;
    max-width: 40%;
    max-height: 35px;
}
}

@media only screen 
and (max-device-width : 667px) {
/* Smartphones (portrait) ----------- */
p {
    padding-top: 5px;
    font-size: 90%
}
#map {
    max-width: 100%;
    max-height: 265px;
}
.col-sm-3 {
    padding-top: 10px;
}
ul {
    flex-flow: row wrap;
    flex-shrink: 4;
}
.btn {
    font-size: smaller;
}
.wikipedia-container {
    font-size: 90%;
    max-width: 200px;
    max-height: 100px;
    
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* iPads (portrait and landscape) ----------- */
p {
    font-size: 18px;
}
#map {
    max-width: 100%;
    max-height: 540px;
}
.col-sm-3 {
    padding-top: 65px;
   
}
.wikipedia-container {
    padding-top: 20px;
    font-size: 90%;
    max-width: 60%;
    max-height: 75px;
}
}



